<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="/socket.io/socket.io.js"></script>

    <script>
      function notReload(event) {
      if ((event.ctrlKey && (event.keyCode === 78 || event.keyCode === 82)) || event.keyCode === 116) {
        event.preventDefault();
        event.stopPropagation();
        alert("새로고침키를 사용할 수 없습니다.");
        }
      }
      document.addEventListener('keydown', notReload);
    </script>
    
    <link rel="stylesheet" href="/main.css">
      

    <title>페이지 제목</title>
    <link rel="stylesheet" href="image.css">
  
    <title>로그인 폼</title>
    <link rel="stylesheet" href="login.css">

    <title>내화면</title>
    <link rel="stylesheet" href="m.css">

    <title>팀장</title>
    <link rel="stylesheet" href="team.css">

    <title>팀원</title>
    <link rel="stylesheet" href="good.css">

    <title>테이블 태그(아주 중요함)</title>

  </head>
  <body>
        <div class="container">
          {% if user and user.id %}
            {% if user.name == '이태화' %}
            <div class = "m" >
              <div class="user-name">진행자 <span id = "user-name">{{user.name}}</span> 입니다</div>
              <a href="/auth/logout" id="logout" class="logout_btn">로그아웃</a>
             
              <button id="next_btn" class="next_btn">다음상품</button>
              
              <button id="end_auction" class="end_auction">상품입찰시간종료</button>

            </div> 
            
            
            {% else %}
            <div class = "m" >
              <div class="user-name">안녕하세요 <span id = "user-name">{{user.name}}</span>님</div>
              <div class="user-money">보유 자산은 &larr;</div>
              <input type="hidden" id="my-id" value="user.id">
              <a href="/auth/logout" id="logout" class="logout_btn">로그아웃</a>

              <div class="m-group">
                <label id = score for="password" style="color:rgb(119,153,255)">경매 점수</label>
                <input type="number" id="auction_score" name="password"  required>
                <button id="score_submit" class="sm" type="submit">입찰</button>
              </div>
              <div class="user_price">
                <p style="color:white">현재 입찰가 : <span id = now_price> </span> </p>
              </div>
            </div>
            {% endif %}
         </div>   
          {% else %}
          <div class = "grid-container"></div>
          <img src="/images/ulti.jpg" alt="manager" class="centered-image">
              <h1>얼티메이트 롤 멸망전</h1>
              <p>경매</p>
            <div class="profile-wrap">
              <form action="/auth/login" id="login-form" method="post">
                <div class="input-group">
                  <label for="name">이름</label>
                  <input type="text" id="name" name="name" required autofocus>
                </div>
                <div class="input-group">
                  <label for="password">비밀번호</label>
                  <input type="password" id="password" name="password" required>
                </div>
                <a href="/join" id="join" class="btn">회원가입</a>
                <button id="login" class="btn" type="submit">로그인</button>
                </form>
            </div>
          </div>
          {% endif %}
      {% block content %}
      {% endblock %}
    <script>
      window.onload = () => {
        if (new URL(location.href).searchParams.get('error')) {
          alert(new URL(location.href).searchParams.get('error'));
        }
      };
    </script>
      <script>

    
      </script>

  </body>
</html>